# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = naro9507
email = naohiro.7.vfh@gmail.com

[core]
	excludesfile = ~/.gitignore_global

[fetch]
       prune = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[alias]
       log-g = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
       branch-d = !git branch -D $(git branch | fzf)
       checkout-b = !git checkout $(git branch | fzf)
       checkout-rb = !git checkout -b
